body {
	background-image: url("background17.jpg");
	background-repeat: repeat;
	
}

#headerpic img{
	
	display: block;
	margin: 0 auto;
	width: 591px;
}

#header  ul{
	display: block;
	margin: -12px auto;
    width: 592px;
	height: 100px;
	list-style-type: none;
	padding: 0;
	overflow:hidden;	
}
#header li {
	
	height: 1px;
	float: left;
	border-right: 1px solid black;
	width: 147px;

	
}
#header a {
	display: block;
	padding: 8px;
	background-color: #9ACD32;
}
#header li a {
	display:block;
	color:white;
	text-align:center;
	font-size: 40px;
	padding:14 px 16px;
	text-decoration: none;
}
#header li a:hover {
	background-color:#2B6A18;
}


#refs  ul{
	display: block;
	margin: -12px auto;
    width: 592px;
	height: 100px;
	list-style-type: none;
	padding: 0;
	overflow:hidden;	
}
#refs li {
	
	display: inline;
	height: 15px;
	border-right: 10px solid transparent;
	width: 167px; 

	
}
#refs a { 
	 padding: 8px;

}
#refs li a {
	display:block;
	text-align:center;
	text-decoration: none;
}
h1 {
	text-align: center;
	color:#337120;
}
p {
	font-family: bold;
	color:#337120;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	font-size:20px;
}

#contact{
	
	text-align: center;
}
#footer{
	text-align: center;
	color:black;
}


